<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Employee Management System</title>
	</head>
	<body>
		<table border="1"
			   align="center">
			<tr>
				<th>id</th>
				<th>name</th>
				<th>job</th>
				<th>salary</th>
			</tr>
			
			<tr th:each="employee:${employees}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.job}"></td>
				<td th:text="${employee.salary}"></td>
			</tr>	   
		</table>
	</body>
</html>